/* Coolors Exported Palette - https://coolors.co/8797b2-6d8a96-5d707f */

/* CSS HEX */
--cool-grey: #8797b2ff;
--light-slate-gray: #6d8a96ff;
--dark-electric-blue: #5d707fff;

/* CSS HSL */
--cool-grey: hsla(218, 22%, 61%, 1);
--light-slate-gray: hsla(198, 16%, 51%, 1);
--dark-electric-blue: hsla(206, 15%, 43%, 1);

/* SCSS HEX */
$cool-grey: #8797b2ff;
$light-slate-gray: #6d8a96ff;
$dark-electric-blue: #5d707fff;

/* SCSS HSL */
$cool-grey: hsla(218, 22%, 61%, 1);
$light-slate-gray: hsla(198, 16%, 51%, 1);
$dark-electric-blue: hsla(206, 15%, 43%, 1);

/* SCSS RGB */
$cool-grey: rgba(135, 151, 178, 1);
$light-slate-gray: rgba(109, 138, 150, 1);
$dark-electric-blue: rgba(93, 112, 127, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #8797b2ff, #6d8a96ff, #5d707fff);
$gradient-right: linear-gradient(90deg, #8797b2ff, #6d8a96ff, #5d707fff);
$gradient-bottom: linear-gradient(180deg, #8797b2ff, #6d8a96ff, #5d707fff);
$gradient-left: linear-gradient(270deg, #8797b2ff, #6d8a96ff, #5d707fff);
$gradient-top-right: linear-gradient(45deg, #8797b2ff, #6d8a96ff, #5d707fff);
$gradient-bottom-right: linear-gradient(135deg, #8797b2ff, #6d8a96ff, #5d707fff);
$gradient-top-left: linear-gradient(225deg, #8797b2ff, #6d8a96ff, #5d707fff);
$gradient-bottom-left: linear-gradient(315deg, #8797b2ff, #6d8a96ff, #5d707fff);
$gradient-radial: radial-gradient(#8797b2ff, #6d8a96ff, #5d707fff);